<div class="header">
  <a class="logo" href="https://news.ycombinator.com/">
    <img src="assets/logo.gif" width="18" height="18">Hacker News</a>
  <input id="nav" type="checkbox">
  <label for="nav"></label>
  <nav>
    <ul>
      <li><a href=#>new</a></li>
      <li><a href=#>past</a></li>
      <li><a href=#>comments</a></li>
      <li><a href=#>ask</a></li>
      <li><a href=#>show</a></li>
      <li><a href=#>jobs</a></li>
      <li><a href=#>submit</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <ol>
    <ng-container *ngFor="let story of storyList; let i=index">
      <li>
        {{story.title}} <span><a href={{story.url}}>({{story.url}})</a></span>
      </li>
      <span>{{story.score}} points by {{story.by}} | {{story.time}}</span>
      <a href="#" *ngIf="story.kids?.length" (click)="filterComments(i)">| {{story.kids.length}} comments</a>
    </ng-container>
  </ol>
  <ol>
    <p *ngIf="showComment">Comments</p>
    <ng-container *ngFor="let comment of filteredComments">
      <li *ngIf="showComment">
        {{comment.by}} {{this.formatTime(comment.time)}} <br/>
        <div [innerHtml]="comment.text" class="comment"></div>
      </li>
    </ng-container>
  </ol>
</div>